#borderDiv {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;

	background: #3A3;
	border-radius: 20px;
	border-color: #171;
	border-width: 2px;
	border-style: solid;
}

#playButton {
	margin-top: 8px;
	width: 100px;
	height: 30px;

	font-size: 15px;
	border-radius: 10px;
	background:#DDD;
	border:1px solid #333;
}